/* default style */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* personal style */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: hsl(204, 43%, 93%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden; /*l'ho usato per far apparire i bordi arrotondati, senza non funziona*/
}

.join {
  background-color: hsl(0, 0%, 100%);
  color: hsl(218, 22%, 67%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.join h1 {
  color: hsl(179, 62%, 43%);
}

.join h3 {
  color: hsl(71, 73%, 54%);
}

.monthly {
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.why {
  background-color: hsl(179, 62%, 45%);
  color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.price {
  font-size: 40px;
  font-weight: 700;
  margin: 0 5px 0 0;
}

.prices {
  display: flex;
  align-items: center;
}

button {
  border: none;
  background-color: hsl(71, 73%, 54%);
  color: white;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 426px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    max-width: 768px;
  }

  .join {
    display: flex;
    width: 100%;
  }

  .monthly {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }

  .why {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
  }

  body {
    display: flex;
  }
}
